body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease;
    padding: 0;
    box-sizing: border-box;
}

.light-mode {
    background-color: #ffffff;
    color: #333333;
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}