.card {
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: 20px auto;
    background-color: white;
}

.img {
    width: 100%;
    height: 30vh;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    text-align: center;
    font-size: 15px;
    font-weight: 200;;
}