.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* margin:0 10px; */
    background-color: teal;
    height: 1.5rem;
}

.container h1 {
    font-weight: 500;
    font-size: small;
    color: rgb(0, 0, 0);
}