<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            display: flex;
            align-items: center;
            background-color: indigo;
            padding:0 1rem;
        }

        .item{
            flex: 1 1 auto;
            margin-right:1rem;
            color:white
        }

        .last-item{
            margin-left:auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="#" class="item">Home</a>
        <a href="#" class="item">About</a>
        <a href="#" class="item">Products</a>
        <a href="#" class="item">Policy</a>
        <a href="#" class="last-item">Contact</a>
    </div>
</body>
</html>