*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: black;
    overflow: hidden;
    margin:0 auto;
}

.search{
    position:relative;
    height:50px;
}

.search .input{
    background-color: rgb(234, 238, 238);
    border:0;
    font-size: 18px;
    border-radius: 5px;
    padding:15px;
    height:50px;
    width:50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: beige;
    border:0px;
    cursor: pointer;
    font-size: 24px;
    position:absolute;
    top:0;
    left:0;
    height:50px;
    width: 50px;
    transition: width 0.3s ease;
}

.search.active .btn{
    transform: translateX(198px);
}
