body {
    background-color: grey;
}

@media (max-width:320px) {
    body {
        background-color: green;
    }
}

@media (max-width:550px) {
    body {
        background-color: yellow;
    }
}



@media (30rem<=width <=100rem) {
    body {
        background-color: blue;
    }
}

/* changing background with width */