body{
    background-color: black;
}
.hero{
    background-color: rgb(5, 4, 3);
color:white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height:90vh;

}

button{
    background: #ff4048;
    border:none;
    padding:10px 20px;
    color:wheat;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background: #410505;
}

.hero h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 15px;
}