*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --gap-size: 1.5rem;
}

body {
    background-color: #709b90;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.stack>*+* {
    margin-block-start: 1.5em;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: var(--gap-size);
    max-inline-size: 1080px;
    margin-inline: auto;
}

header, nav {
    grid-column: 1/3;
    grid-row: span 1;
}

.main {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.sidebar-top {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.sidebar-bottom {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.tile {
    padding: 1.5em;
    background-color: #fff;
}

.tile> :first-child {
    margin-top: 0;
}